/*
Source - https://stackoverflow.com/a
Posted by jaredwilli, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-31, License - CC BY-SA 4.0
*/

* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block; } /* To remove the scrollbars */
